<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.greenapplesolutions.jtdbtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.greenapplesolutions.jtdbtool.Perspective"
            id="com.greenapplesolutions.jtDbTool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="jtDbTool.toolbar.main">
            <command
                  commandId="com.greenapplesolutions.jtDbTool.fileLoaderCommand"
                  icon="icons/appIcons/add-db32x32.png"
                  label="Open File Loader"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.reviewJudgementCommand"
                  icon="icons/appIcons/search-db32x32.png"
                  label="Review Judgements"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.changeCourt"
                  icon="icons/appIcons/court32x32.png"
                  label="Change Court"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.openIndexEditorCommand"
                  icon="icons/appIcons/dbsave32.png"
                  label="Index Judgements"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.partialIndex"
                  icon="icons/appIcons/db32x32.png"
                  label="Index Judgements From Date"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.OpenFileLoaderCommand"
            id="com.greenapplesolutions.jtDbTool.fileLoaderCommand"
            name="Open File Loader Command">
      </command>
      <command
            defaultHandler="commands.ReviewJudgementCommand"
            id="com.greenapplesolutions.jtDbTool.reviewJudgementCommand"
            name="Review Judgements Command">
      </command>
      <command
            defaultHandler="commands.ChangeCourtCommand"
            id="com.greenapplesolutions.jtDbTool.changeCourt"
            name="Change Court">
      </command>
      <command
            defaultHandler="commands.OpenIndexEditorCommand"
            id="com.greenapplesolutions.jtDbTool.openIndexEditorCommand"
            name="Open Index Editor Command">
      </command>
      <command
            defaultHandler="commands.PartialIndexCommand"
            id="com.greenapplesolutions.jtDbTool.partialIndex"
            name="Partial Index">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editors.JudgmentsEditor"
            default="false"
            id="com.greenapplesolutions.jtDbTool.judgementeditor"
            name="Judgment Viewer">
      </editor>
      <editor
            class="editors.IndexJudgementsEditor"
            default="false"
            id="com.greenapplesolutions.jtDbTool.indexJudgements"
            name="Index Judgements">
      </editor>
      <editor
            class="editors.PartialIndexJudgementEditor"
            default="false"
            id="com.greenapplesolutions.jtDbTool.partialIndexJudgementEditor"
            name="PartialIndexEditor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.greenapplesolutions.jtDbTool.application"
            name="JT Database Tool">
         <property
               name="appName"
               value="JT Database Tool">
         </property>
         <property
               name="windowImages"
               value="icons/appIcons/1337244026_balance16.png,icons/appIcons/1337244053_balance32.png,icons/appIcons/1337244064_balance48.png,icons/appIcons/1337244078_balance64.png,icons/appIcons/rsz_1337244178_balance128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,230,440,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,255,450,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.greenapplesolutions.jtDbTool.application"
            name="JT DB TOOL">
         <property
               name="appName"
               value="JT DB TOOL">
         </property>
         <property
               name="windowImages"
               value="icons/appIcons/1337244026_balance16.png,icons/appIcons/1337244053_balance32.png,icons/appIcons/1337244064_balance48.png,icons/appIcons/1337244078_balance64.png,icons/appIcons/rsz_1337244178_balance128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,250,440,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,270,440,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
