<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.greenapplesolutions.jtdbtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.greenapplesolutions.jtdbtool.Perspective"
            id="com.greenapplesolutions.jtDbTool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="jtDbTool.toolbar.main">
            <command
                  commandId="com.greenapplesolutions.jtDbTool.fileLoaderCommand"
                  icon="icons/appIcons/add-db32x32.png"
                  label="Open File Loader"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.reviewJudgementCommand"
                  icon="icons/appIcons/search-db32x32.png"
                  label="Review Judgements"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.changeCourt"
                  icon="icons/appIcons/court32x32.png"
                  label="Change Court"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.greenapplesolutions.jtDbTool.openIndexEditorCommand"
                  label="Index Judgements"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.OpenFileLoaderCommand"
            id="com.greenapplesolutions.jtDbTool.fileLoaderCommand"
            name="Open File Loader Command">
      </command>
      <command
            defaultHandler="commands.ReviewJudgementCommand"
            id="com.greenapplesolutions.jtDbTool.reviewJudgementCommand"
            name="Review Judgements Command">
      </command>
      <command
            defaultHandler="commands.ChangeCourtCommand"
            id="com.greenapplesolutions.jtDbTool.changeCourt"
            name="Change Court">
      </command>
      <command
            defaultHandler="commands.OpenIndexEditorCommand"
            id="com.greenapplesolutions.jtDbTool.openIndexEditorCommand"
            name="Open Index Editor Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editors.JudgmentsEditor"
            default="false"
            id="com.greenapplesolutions.jtDbTool.judgementeditor"
            name="Judgment Viewer">
      </editor>
      <editor
            class="editors.IndexJudgementsEditor"
            default="false"
            id="com.greenapplesolutions.jtDbTool.indexJudgements"
            name="Index Judgements">
      </editor>
   </extension>

</plugin>
